@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

nav{
    justify-content: flex-end;
    align-items: flex-start;
    font-family: "Mulish", sans-serif;
    flex-direction: column;
}

body {
    display: flex;
    font-family: "Mulish", sans-serif;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 178, 255);
}

h1 {
    display: flex;
    font-family: "Mulish", sans-serif;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 178, 255);
}

h2 {
    display: flex;
    font-family: "Mulish", sans-serif;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 178, 255);
}
img {
    display: flex;
    font-family: "Mulish", sans-serif;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 178, 255);

}
