@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

header{
    justify-content: flex-end;
    align-items: flex-start;
    font-family: "Mulish", sans-serif;
    flex-direction: row;
}

nav li{
        display: flex;
        justify-content: space-around; /* Alinha o menu à direita */
        align-items: center; /* Alinha os itens verticalmente */
        padding: 10px; /* Espaçamento interno do menu */
        flex-direction: column;
    }

h1, h2 {
    display: flex;
    font-family: "Mulish", sans-serif;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 178, 255);
}

img {
    width: 40%;
    display: flex;
    justify-content: right;
    align-items: flex-end;
}
